<html>
  
  <body>
    
    <h1> Welcome</h1>
    <h2>Please see out options:</h2>
    
    <ul>
      
      <li>do thing</li>
      <li>do thing</li>
      <li>do thing</li>
      <li>do thing</li>
      
    </ul>
    
  
  <%= link_to 'About', about_path %>  
  
  </body>
  
  
  
</html>